* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  background-color: #fffaf3;
  margin: 0;
}

.page__container {
  max-width: 1440px;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  color: #181818;
  /* padding: 40px 135px 50px; */
  padding-top: 40px;
  padding-bottom: 50px;
  padding-left: calc(30px + (135 - 30) * ((100vw - 800px) / (1440 - 800)));
  padding-right: calc(30px + (135 - 30) * ((100vw - 800px) / (1440 - 800)));
  /* font-family: "Inter", Arial, sans-serif;
  font-family: "Cormorant Garamond", serif;
  font-family: "Cormorant SC", serif; */
  font-family: "Raleway", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

@media (max-width: 800px) {
  .page__container {
    padding: 40px 30px 50px;
  }
}

@media (max-width: 320px) {
  .page__container {
    padding: 40px 15px 50px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.header__nav-container {
  display: flex;
}

.header__nav {
  display: flex;
  list-style: none;
  justify-content: space-between;
  gap: 60px;

}

.header__nav-item {
  text-decoration: none;
  transition: color 0.3s linear;
  color: black;
  font-weight: 300;
  line-height: 1.5;
}

.header__nav-item:hover {
  color: #d4dcb2;
}

.header__nav-phone {
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
  transition: color 0.3s linear;
  color: #000;
  text-align: center;
  text-decoration: none;
}

.header__nav-phone:hover {
  color: #d4dcb2;
}

.header__button {
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  border: 1px solid #000;
  padding: 13px 26px;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear;
}

.header__button:hover {
  background-color: #d4dcb2;
}

.header__logo {
  width: 143px;
  margin-right: 60px;
}

.header__burger-button {
  display: none;
}

@media (max-width: 1390px) {
  .header__nav {
    gap: 40px;
  }

  .header__logo {
    margin-right: 40px;
  }

}

@media (max-width: 1140px) {
  .header__nav-phone {
    display: none;
  }
}


@media (max-width: 878px) {

  .header__nav-phone {
    display: block;
  }


  .header__nav-phone-list {
    order: -1;
  }

  .header__nav-body {
    position: absolute;
    left: -350px;
    top: 0;
    background-color: #FFFAF3;
    padding: 100px 20px 40px 20px;
    z-index: 1;
    width: 350px;
    transition: transform .5s;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
    border-bottom-right-radius: 5px;
  }

  .header.open .header__nav-body {
    transform: translateX(100%);
  }

  .header__nav {
    display: block;
  }

  .header__nav-item {
    font-size: 21px;
    display: block;
    padding: 10px 0;
  }

  .header__burger-button {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 2;
    margin-right: 80px;
  }

  .header__burger-button span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: black;
    left: 5px;
    transition: transform .5s, opasity .5s, background-color .5s;
  }

  .header__burger-button span:nth-child(1) {
    transform: translateY(-10px);
  }

  .header__burger-button span:nth-child(3) {
    transform: translateY(10px);
  }

  .header.open .header__burger-button span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
  }

  .header.open .header__burger-button span:nth-child(2) {
    opacity: 0;
  }

  .header.open .header__burger-button span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
  }

  .header__logo-container {
    display: flex;
    justify-content: space-between;
  }

  .header__logo {
    width: 147px;
    z-index: 2;
    margin: 0;
  }

  .header__button {
    width: 145px;
    padding: 10px 20px;
  }

  .header__nav-phone {
    text-align: start;
    margin-top: 20px;
  }
}

@media (max-width: 520px) {
  .header__logo {
    width: 96px;
  }

  .header__button {
    display: none;
  }

  .header__burger-button {
    /* margin-right: 100%; */
  }

}

.cover {
  margin-top: 80px;
  margin-bottom: 100px;
}

.cover__description {
  display: flex;
  flex-direction: column;
}

.cover__description-subtitle-container {
  position: relative;
}

.cover__description-title {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
}

.cover__description-subtitle {
  font-size: calc(28px + (80 - 28) * ((100vw - 320px) / (1440 - 320)));
  font-style: italic;
  font-weight: 300;
  line-height: normal;
  font-family: "Cormorant Garamond";
  margin: 9px 0 70px;
  max-width: 822px;
}

.cover__description-subtitle span {
  font-family: "Cormorant SC";
  font-style: normal;
  font-weight: 400;
}

.cover__description-small-image {
  /* max-width: 535px; */
  width: calc(144px + (535 - 144) * ((100vw - 320px) / (1440 - 320)));
  margin-bottom: 150px;
}

.cover__description-small-img {
  width: 100%;
}

.cover__description-main-image {
  width: calc(128px + (600 - 128) * ((100vw - 320px) / (1440 - 320)));
  position: absolute;
  top: 30%;
  right: 1%;
}

.cover__description-buttons {
  margin-bottom: 115px;
}

.cover__description-button {
  padding: 13px 26px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  font-family: "Raleway";
  margin-right: 30px;
  width: 170px;
}

.cover__description-button:hover {
  background-color: #d4dcb2;
}

.cover__description-link {
  font-family: "Raleway";
  font-size: 18px;
  font-weight: 300;
  line-height: normal;
  text-decoration-line: underline;
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #000000;
}

.cover__description-link:hover {
  color: #d4dcb2;
}

.cover__numeros-list {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 110px;
  margin: 0;
  padding: 0;
}

.cover__numeros-item {
  font-family: "Cormorant Garamond";
  font-size: calc(24px + (72 - 24) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.cover__numeros-item span {
  display: block;
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 300;
  line-height: 1.5;
  font-family: "Raleway";
  margin-top: 10px;
}

@media (max-width: 920px) {
  .cover__description-buttons {
    margin-bottom: 57px;
  }

  .cover__description-button {
    width: 145px;
    padding: 10px 20px;
    font-size: 16px;
  }

  .cover__description-link {
    font-size: 16px;
  }

  .cover__description-small-image {
    margin-bottom: 100px;
  }

  .cover__description-main-image {
    top: 38%;
    right: 1%;
  }

  .cover {
    margin-top: 65px;
    margin-bottom: 50px;
  }
}

@media (max-width: 810px) {
  .cover__description-buttons {
    display: flex;
    flex-direction: column;
  }

  .cover__description-button {
    margin-bottom: 20px;
  }
}

@media (max-width: 740px) {
  .cover__description-main-image {
    top: 66%;
    right: 4%;
  }
}

@media (max-width: 540px) {
  .cover__numeros-list {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 420px) {
  .cover__description-title {
    line-height: 1.3;
    width: 172px;
  }

  .cover__description-subtitle {
    margin: 17px 0 32px;
  }

  .cover__description-button {
    width: 195px;
  }

  .cover__description-link {
    font-size: 13px;
  }

  .cover {
    margin-top: 40px;
    margin-bottom: 25px;
  }

  .cover__description-text {
    order: 1;
  }

  .cover__description-small-image {
    order: 2;
  }

  .cover__description-buttons {
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
    order: 3;
  }

  .cover__description-button {
    margin: 0 0 15px;
  }

  .cover__description-small-image {
    margin-bottom: 30px;
  }

  .cover__description-main-image {
    top: 55%;
    right: 1%;
  }
}

.price__title {
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: calc(24px + (72 - 24) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
  margin: 0 0 50px;
}

.price__menu {
  display: flex;
  gap: 95px;
  list-style: none;
  margin: 0;
  cursor: pointer;
  padding: 0;
}

.price__menu-item {
  font-family: "Cormorant Garamond";
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
}

.price__menu-item:hover {
  border-bottom: #000 1px solid;
}

.price__content {
  display: flex;
  flex-direction: column;
}

.price__text-container {
  display: none;
}

.price__text-container.active {
  display: flex;
  justify-content: space-between;
}

.price__text-items {
  width: 570px;
  display: flex;
  justify-content: space-between;
  margin: 40px 0 80px;
  font-family: "Raleway";
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 300;
  line-height: 1.5;
  margin-right: 30px;
}

.price__text {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price__items {
  list-style: none;
  padding: 0;
  text-align: end;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price__button {
  padding: 13px 26px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear;
  margin-top: 70px;
  width: 170px;
}

.price__button:hover {
  background-color: #d4dcb2;
}

.price__images {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.price__image-one {
  width: calc(142px + (208 - 142) * ((100vw - 800px) / (1440 - 800)));
  margin-top: -44px;
}

.price__image-two {
  width: calc(245px + (364 - 245) * ((100vw - 800px) / (1440 - 800)));
  margin-top: -150px;
  margin-right: 110px;
}

.price__menu-item.active {
  border-bottom: #000 1px solid;
}

@media (max-width: 1220px) {
  .price__image-one {
    margin-top: 20px;
  }

  .price__image-two {
    margin-right: 60px;
  }

  .price__title {
    margin-bottom: 27px;
  }

  .price__text-items {
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .price__button {
    width: 145px;
    padding: 10px 20px;
    margin-top: 40px;
  }

  .price__text {
    gap: 18px;
  }

  .price__items {
    gap: 15px;
  }

  .price__menu {
    gap: 70px;
  }
}

@media (max-width: 1030px) {
  .price__text {
    width: 223px;
  }
}

@media (max-width: 680px) {
  .price {
    margin-top: 25px;
  }

  .price__title {
    margin-bottom: 15px;
  }

  .price__text-items {
    line-height: 1.3;
    margin-top: 19px;
    margin-bottom: 25px;
    margin-right: 0;
  }

  .price__button {
    width: 195px;
    margin-top: 30px;
  }

  .price__image-one {
    display: none;
  }

  .price__image-two {
    display: none;
  }

  .price__menu {
    /* gap: 40px; */
    gap: 0;
    justify-content: space-between;
  }

  .price__items {
    gap: 10px;
  }

  .price__text {
    gap: 10px;
  }
}

@media (max-width: 420px) {
  .price__button {
    align-self: center;
  }
}

@media (max-width: 320px) {
  .price__menu {
    gap: 11px;
  }
}

.location {
  margin: 100px 0 94px;
}

.location__list {
  list-style: none;
}

.location__title {
  text-align: center;
  font-family: "Cormorant Garamond";
  /* font-size: 72px; */
  font-size: calc(24px + (72 - 24) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
  margin-bottom: 50px;
}

.location__item {
  font-family: "Cormorant Garamond";
  /* font-size: 36px; */
  font-size: calc(16px + (36 - 16) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
  margin-bottom: 55px;
  cursor: pointer;
}

.location__item:hover {
  border-bottom: #000 1px solid;
}

.location__list {
  display: flex;
  justify-content: center;
  gap: 110px;
}

.location__content {
  display: none;
}

.location__content.active {
  display: flex;
  gap: 30px;
}

.location__map {
  width: 40vw;
}

.location__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.location__paragraph {
  font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 20px;
}

.location__paragraph:last-child {
  margin-bottom: 0px;
}

.location__btn {
  padding: 13px 26px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear;
  width: 170px;
  font-size: 18px;
}

.location__btn:hover {
  background-color: #d4dcb2;
}

.location__item.active {
  border-bottom: #000 1px solid;
}

@media (max-width: 800px) {
  .location {
    margin: 50px 0 60px;
  }

  .location__title {
    margin-bottom: 25px;
  }

  .location__item {
    margin-bottom: 23px;
  }

  .location__map {
    height: 50vh;
  }

  .location__content.active {
    gap: 20px;
  }

  .location__btn {
    width: 145px;
    padding: 10px 20px;
    font-size: 16px;
  }
}

@media (max-width: 540px) {
  .location {
    margin: 25px 0 50px;
  }

  .location__title {
    margin-bottom: 15px;
  }

  .location__item {
    margin-bottom: 15px;
  }

  .location__btn {
    width: 195px;
  }

  .location__content.active {
    flex-direction: column;
    gap: 30px;
  }

  .location__text {
    order: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .location__map-container {
    order: 2;
  }

  .location__list {
    gap: 0;
    justify-content: space-between;
  }

  .location__map {
    width: 100%;
    height: 60vh;
  }

  .location__paragraph:last-child {
    margin-bottom: 30px;
  }
}

@media (max-width: 320px) {
  .location__map {
    height: 44vh;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
}

.footer__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__links {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer__main-logo {
  max-width: 220px;
}

.footer__link-img {
  max-width: 30px;
  cursor: pointer;
}

.footer__nav-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}

.footer__nav-list {
  list-style: none;
  margin-right: 30px;
}

.footer__nav-list:last-child {
  margin-right: 0;
}

.footer__nav {
  display: flex;
}

.footer__copyright {
  text-transform: uppercase;
}

.footer__nav:last-child {
  margin-right: 0;
}

.footer__nav-item {
  margin-bottom: 15px;
  cursor: pointer;
}

.footer__nav-item:last-child {
  margin-bottom: 0;
}

.footer__nav-link {
  text-decoration: none;
  color: #000;
  transition: color 0.3s linear;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  cursor: pointer;
}

.footer__nav-link:hover {
  color: #d4dcb2;
}

.footer__form {
  position: relative;
}

.footer__form-title {
  font-family: "Cormorant Garamond";
  /* font-size: 36px; */
  font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
  max-width: 270px;
}

.footer__form-input {
  width: 270px;
  height: 50px;
  background-color: #fffaf3;
  margin: 22px 0;
  padding: 12px;
}

.footer__form-button {
  background-color: transparent;
  border: none;
  position: absolute;
  /* top: 125px;
  right: 20px; */
  top: 57%;
  right: 6%;
  cursor: pointer;
}

.footer__form-paragraph {
  font-size: 14px;
  font-size: 300;
  line-height: 1.5;
}

.footer__container-copyright {
  display: none;
}

.footer__form-text {
  display: flex;
}

.footer__form-text-button {
  width: 19px;
  height: 19px;
  background-color: transparent;
  border-radius: 15%;
  cursor: pointer;
  margin-right: 20px;
}

.footer__form-paragraph span {
  text-decoration: underline;
}

.footer__paragraph-three {
  display: none;
}

@media (max-width: 1044px) {
  .footer__main-logo {
    max-width: 191px;
  }

  .footer__paragraph-three {
    display: block;
  }

  .footer__form-title {
    font-size: 24px;
  }

  .footer__form-input {
    width: 223px;
    height: 50px;
    margin: 25px 0 15px;
  }

  .footer__nav-item-margin {
    margin-bottom: 47px;
  }

  .footer__form-paragraph {
    font-size: 12px;
  }

  .footer__form-text-button {
    margin-right: 15px;
  }

  .footer__form-button {
    top: 48%;
    right: 14%;
  }

  .footer__nav-item-width {
    width: 168px;
  }

  .footer__form-title {
    max-width: 188px;
  }

  .footer__nav-list {
    width: 100px;
    margin-right: 90px;
  }

  .footer__copyright {
    display: none;
  }
}

@media (max-width: 840px) {
  .footer__nav-list {
    margin-right: 34px;
  }
}

@media (max-width: 750px) {
  .footer__container {
    flex-direction: column;
  }

  .footer__nav-list {
    margin-right: 100px;
  }

  .footer__logo-container {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .footer__nav-item-mob {
    display: none;
  }

  .footer__nav-container {
    display: flex;
    align-self: center;
    text-align: center;
    gap: 50px;
    margin-top: 22px;
  }

  .footer__form-title {
    font-size: 24px;
    text-align: center;
    max-width: 100%;
  }

  .footer__form {
    width: 100%;
  }

  .footer__form-input {
    width: 100%;
    margin: 15px 0 20px;
  }

  .footer__form-button {
    top: 40%;
    right: 3%;
  }

  .footer__copyright {
    display: none;
  }

  .footer__paragraph {
    display: none;
  }

  .footer__main-logo {
    margin-bottom: 16px;
  }

  .footer__container-copyright {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 13px;
  }
}

@media (max-width: 396px) {
  .footer__form-button {
    top: 50%;
    right: 5%;
  }
}

@media (max-width: 320px) {
  .footer__nav-list {
    margin-right: 50px;
  }

  .footer__form-title {
    font-size: 18px;
  }

  .footer__form-button {
    top: 38%;
    right: 5%;
  }
}

.portfolio {
  margin: 100px 0 100px;
}

.portfolio__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: "Cormorant Garamond";
  font-size: calc(24px + (72 - 24) * ((100vw - 320px) / (1440 - 320)));
  font-weight: 400;
  line-height: normal;
}

.portfolio__slider {
  overflow: hidden;
  position: relative;
}

.portfolio__slider-line {
  display: flex;
  align-items: center;
  transition: all 1s;
  padding: 0 0 63px;
}

.portfolio__slide {
  max-width: 270px;
  margin-right: 30px;
}

.portfolio__slide:nth-child(4n) {
  margin-right: 0;
}

.portfolio__slider-prev {
  position: absolute;
  left: 1%;
  top: 35%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.portfolio__slider-next {
  position: absolute;
  right: 2%;
  top: 35%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.portfolio__slider-prev-img {
  width: 27px;
  height: 54px;
}

.portfolio__slider-wrapper {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 5%;
  left: 47%;
}

.portfolio__slider-dot {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: #9da57c solid 0.5px;
  cursor: pointer;
}

.portfolio__slider-dot:hover {
  background-color: #9da57c;
}

.portfolio__slider-dot.active-dot {
  background-color: #9da57c;
}

@media (max-width: 800px) {
  .portfolio {
    margin: 50px 0 43px;
  }

  .portfolio__title {
    margin-bottom: 25px;
  }

  .portfolio__slide {
    max-width: 190px;
    margin-right: 15px;
  }

  .portfolio__slide:nth-child(3n) {
    margin-right: 0;
  }

  /* .portfolio__slider-line {
    gap: 15px;
  } */
}

@media (max-width: 320px) {
  .portfolio {
    margin: 25px 0 25px;
  }

  .portfolio__title {
    margin-bottom: 15px;
  }

  .portfolio__slider {
    max-width: 291px;
  }

  .portfolio__slide {
    max-width: 138px;
  }

  .portfolio__slider-dot {
    width: 8px;
    height: 8px;
  }

  .portfolio__slider-line {
    padding: 0 0 49px;
  }

  .portfolio__slider-wrapper {
    bottom: 9%;
    left: 39%;
  }
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
}

.popup.open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup__container {
  background-color: white;
  padding: 30px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  max-width: 50%;
  margin: auto;
  position: relative;
}

.popup__container input:focus {
  outline: none;
}

.popup__container textarea:focus {
  outline: none;
}

.popup__paragraph {
  margin: 15px 0 15px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
}

.popup__title {
  font-family: "Cormorant Garamond";
  font-size: 40px;
  font-weight: 400;
  line-height: normal;
}

.popup__input-box {
  width: 100%;
  height: 50px;
  margin: 20px 0;
}

.popup__input,
.popup__input-textarea {
  width: 100%;
  height: 100%;
  border: none;
  background: #f0f1f8;
  padding: 0 20px;
  border-radius: 5px;
}

.popup__input-textarea {
  resize: none;
  padding: 20px;
}

.message-box {
  min-height: 110px;
}

.popup__button {
  border-radius: 5px;
  padding: 13px 26px;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #000;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.3s linear;
}

.popup__button:hover {
  background-color: #d4dcb2;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 21px;
  cursor: pointer;
}

@media (max-width: 800px) {
  .popup__container {
    max-width: 70%;
  }
}

@media (max-width: 500px) {
  .popup__container {
    max-width: 90%;
  }
}

@media (max-width: 1300px) {
  .promotions__content {
    margin-bottom: 10%;
  }
}

@media (max-width: 1100px) {
  .promotions__content {
    margin-bottom: 10%;
    margin-top: 7%;
    margin-right: 3%;
    padding: 30px 40px 30px;
  }
}

@media (max-width: 800px) {
  .promotions__content {
    margin-bottom: 13%;
    margin-top: 8%;
    margin-right: 3%;
    padding: 30px 25px 30px;

  }
}

@media (max-width: 750px) {
  .promotions__slider-line {
    background-image: none;
    height: 100vh;
  }

  .promotions__slide {
    display: block;
    width: 100%;
    height: 60%;
  }

  .promotions__slider-line {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .promotions__content {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0;
    backdrop-filter: none;
    padding: 0;

  }

  .promotions {
    margin: 50px 0 75px;
  }

  .promotions__slider-wrapper {
    gap: 10px;
    bottom: -1%;
    left: 48%;
  }
}

@media (max-width: 500px) {
  .promotions__slide {
    height: 50%;
  }

  .promotions__slider-wrapper {
    bottom: 3%;
    left: 46%;
  }
}

@media (max-width: 320px) {
  .promotions__slide {
    height: 40%;
  }

  .promotions__slider-wrapper {
    bottom: 7%;
    left: 44%;
  }
}
